<h1><%= action_name  %></h1>
<ul>
  <li>
    <%= "Trip date: #{@trip.date}" %></li>
    <li>
    <%= "Trip driver: #{@trip.driver_id}" %>
    </li>
    <li><%= "Trip passenger: #{@trip.passenger_id}" %></li>
    <li><%= "Trip cost: #{@trip.cost/100.0}." %>
    </li>

</ul>

<%= form_with model: @trip do |f|%>
<p>Please add a rating for the trip:</p>
<%= f.label :rating %>
<%= f.text_field :rating %>


<%= f.submit button_title %>
<% end %>
