<% if @trip.errors.any? %>
  <ul >
    <% @trip.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<h1><%= action_name  %></h1>
<ul>
  <li><%= "Trip date: #{@trip.date}" %></li>
  <li><%= "Trip driver: #{@trip.driver_id}" %></li>
  <li><%= "Trip passenger: #{@trip.passenger_id}" %></li>
</ul>

<%= form_with model: @trip do |f| %>
<%= f.label :cost, "Cost: " %>
<%= f.text_field :cost %>

<%= f.label :rating, "Rating: " %>
<%= f.text_field :rating %>

<%= f.submit button_title %>
<% end %>
