<h1>These are the Trips: </h1>
<h2> RideShare Trips:  </h2>
<table>
  <th>Trip ID</th>
  <th>Date</th>
  <th>Driver</th>
  <th>Passenger</th>
  <th>Rating</th>
  <th>Cost</th>

<% @trips.each do |trip| %>
<tr>
  <td><%= link_to "#{trip.id}", trip_path(trip.id) %> </td>
  <td><%= link_to " #{trip.date}", trip_path(trip.id) %></td>
  <td><%= link_to "#{trip.driver_id}", trip_path(trip.id) %></td>
  <td><%= link_to " #{trip.passenger_id}", trip_path(trip.id) %></td>
  <td><%= link_to " #{trip.rating}",trip_path(trip.id) %>  </td>
  <td><%= link_to "#{trip.currency}", trip_path(trip.id) %>  </td>
</tr>
<% end %>
</table>
