<% if @trip.errors.any? %>
  <ul >
    <% @trip.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_with url: complete_trip_path, method: :patch do |f| %>

<%= f.label :rating, "Rating: " %>
<%= f.text_field :rating %>

<%= f.submit "Rate and Complete Trip" %>
<% end %>
