<% if @passenger.nil? %>
<h1> 404 Not found</h1>
<% else %>
<h3><%= @passenger.name %></h3>
<h3><%= @passenger.phone_num %> </h3>

<h3>Trips: </h3>
<table>
  <th>Trip ID</th>
  <th>Date</th>
  <th>Rating</th>

  <% x = 0 %>
  <% @passenger.trips.each do |trip|%>
  <% x += trip[:cost]  %>
  <%= "Total Spend on Rides:$"%><%= x/100.0 %>

  <tr>
    <th><%= link_to trip.id, trip_path(trip.id)%></th>
    <th><%=  trip.date %></th>
    <th><%=  trip.rating %></th>
  </tr>
  <% end %>
</table>
<% end %>

<h3><%= link_to "Edit Passenger #{@passenger.name}:#{@passenger.id}", edit_passenger_path(@passenger.id)%></h3>
 <h4><%= link_to "Add a New Trip", passenger_trips_path(@passenger.id), method: :post%> </h4>
