<% if @passenger.nil? %>
<h1> 404 Not found</h1>
<% else %>
<h3><%= @passenger.name %></h3>
<h3><%= @passenger.phone_num %> </h3>

<h3>Trips: </h3>
<table>
  <th>Trip ID</th>
  <th>Date</th>
  <th>Rating</th>
  <%= "Total Spend on Rides: $#{@passenger.total_spent}" %>
  <% @passenger.trips.each do |trip|%>
  <tr>
    <td><%=  trip.id %></td>
    <td><%=  trip.date %></td>
    <td><%=  trip.rating %></td>
  </tr>
  <% end %>
</table>
<% end %>

<h3><%= link_to "Edit Passenger #{@passenger.name}:#{@passenger.id}", edit_passenger_path(@passenger.id)%></h3>
