<%= form_with model: @driver do |f| %>
  <p>Please provide the following information :</p>

  <%= f.label :name %>
  <%= f.text_field :name%>

  <%= f.label :vin %>
  <%= f.text_field :vin %>

  <%= f.submit "Save Driver", class: "driver-button" %>
<% end %>
